<li>
	{{name}}

	<button class=".change-state" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if eaten}}How was it?{{else}}Devour it!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DONE</button>
</li>
